body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0f0f0f, #1f1f1f);
  color: white;
}

.background, .payment-page {
  background-color: lightslategrey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
}

.container {
  max-width: 400px;
  width: 94%;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-right: none;
  outline: none;
}

button, .btn {
  display: block;
  width: 110%;
  padding: 14px;
  background-color: #00c853;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

button:hover, .btn:hover {
  background-color: #00e676;
}

.confirmation {
  margin-top: 10px;
  text-align: center;
  color: #00e676;
}

.payment-img {
  width: 200px;
  margin: 20px 0;
}

.instructions {
  text-align: center;
  margin: 10px 0 20px;
  max-width: 500px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}

.btn.whatsapp {
  background-color: #25D366;
}
